body {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}

.container {
    width: auto !important;
    max-width: 900px !important;
    padding: 0 15px !important;
}

.container .footer-text {
    margin: 20px 0 !important;
}

.badge {
    background-color: #e4aa48 !important;
}